body{
    margin:0;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    background: rgb(0 0 0 / 48%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}


#modal_for_post_detail .modal-window{
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    border-radius: 8px;
    border: 0;
    position: relative;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


.div_for_pic_and_detail{
    flex-direction: row;
    display: flex;
}

.div_for_pic{
    position: relative;
    padding: 0;
    flex-direction: column;
    flex-shrink: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 10px;
    align-items: stretch;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.img_outer{
    width: 100%;
    margin: 0 auto;
    height: 95%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.img_outer img{
    width: inherit;
    height: inherit;
}


.div_for_detail{
    display: flex;
    position: relative;
    border-left: 1px solid #c7c7c7;
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
}


.detail_outer{
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    position: relative;
    min-height: 100%;
    min-width: 99%;
}

.user_name_bar{
    margin-right: 0;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 4px;
}

.divide_bar{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.header_11{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    padding: 14px 4px 14px 16px;
    position: relative;
    margin-bottom: 0;
}

.img_outer_div{
    display: block;
    position: relative;
}

.img_outer_div img{
    width: 32px;
    height: 32px;
    text-decoration: none;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-right-style: solid;
    border-left-width: 0;
    padding-left: 0;
    touch-action: manipulation;
    padding-top: 0;
    min-width: 0;
    list-style: none;
    flex-direction: column;
    margin-top: 0;
    border-right-width: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    border-top-width: 0;
    display: flex;
    overflow-x: hidden;
    padding-right: 0;
    min-height: 0;
    border-left-style: solid;
    cursor: pointer;
    outline-style: none;
    align-items: stretch;
    border-bottom-width: 0;
    border-bottom-style: solid;
    position: relative;
    margin-left: 0;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    border-bottom-right-radius: 50%;
    padding-bottom: 0;
    text-align: inherit;
    border-top-left-radius: 50%;
    border-top-style: solid;
    margin-right: 0;
    overflow-y: hidden;
}

.div_for_user_name{
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 12px;
    overflow: hidden;
    position: relative;
}

.div_11{
    max-width: 100%;
    display: flex;
}

.div_12{
display: flex;
}

.div_13{
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 2px;
    position: relative;
    top: 1px;
    vertical-align: baseline;
}

.div_13 a{
    display: inline-block;
    padding: 0!important;
    position: relative;
    text-align: center;
}

.div_for_three_dot_btn{
    justify-content: center;
    padding-right: 8px;
    display: flex;
}

.div_for_three_dot_btn button{
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;

    justify-content: center;
    padding: 8px;
    margin: 0;
}

.div_for_three_dot_btn img{
    height: 24px;
    width: 24px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.user_contents_space{
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.section_for_btn{
    min-height: 0;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #c7c7c7;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 6px;
    order: 4;
    flex-grow: 0;
}

.section_for_btn span{
    display: inline-block;
    margin-left: -8px;
    height: fit-content;
}

.section_for_btn img{
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 24px;
    width: 24px;
}

.section_for_liked_people{
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    display: block;
    order: 4;
    min-height: 0;
    flex-grow: 0;
}

.section_for_liked_people div{
    min-height: 0;
    min-width: 0;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.div_for_contents_and_tags{
    margin: 0 0 auto;

    order: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow: auto;
    position: relative;
}

.div_for_contents_and_tags ul{
    border: 0;
    box-sizing: content-box;
    flex-grow: 1;
    font: inherit;
    font-size: 100%;
    height: calc(100% - 32px);
    left: 0;
    margin: 0;
    overflow-y: scroll;
    padding: 16px;
    position: absolute;
    scrollbar-width: none;
    vertical-align: baseline;
    width: calc(100% - 32px);
    list-style: none;
}

.div_14{
    padding: 0;
    font-size: 100%;
    touch-action: manipulation;
    padding-top: 0;
    flex-direction: column;
    margin: 0;
    border: 0;
    display: flex;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
}

.contents_div{
    align-items: flex-start;
    justify-content: start;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.contents_div_inner{
    width: fit-content;;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.contents_profile_pic_div{
    margin: 0 18px 0 0;
}

.contents_profile_pic_div a{
    width: 32px;
    height: 32px;
    text-decoration: none;
    border-radius: 50%;
    touch-action: manipulation;
    list-style: none;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    outline-style: none;
    align-items: stretch;
    position: relative;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
}

.div_for_writer_name{
    border: 0;
    box-sizing: border-box;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    flex-direction: row;
    display: flex;
}

.div_for_writer_name h2{
    align-items: center;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.div_for_writer_name_inner{
    margin-right: 4px;
    flex: 0 0 auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    position: relative;

}

.div_for_writer_name_inner a{
    display: inline-block;
    padding: 0!important;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    -webkit-user-select: none;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    height: 30px;
    color: black;
}

.div_for_writer_name_inner label{
 cursor:pointer;
}

.div_for_contents{
    display: inline;
}

.div_for_contents h1{
    align-items: center;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.div_for_contents form{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}




.div_14 textarea{
    width: 100%;
    font-size: 14px;
    background: transparent;
    border: none;
    appearance: none;
    height: 100%;
    padding: 0px;
    resize: none;
    outline: none;
}

.div_for_all_comments{
    padding: 0;
    touch-action: manipulation;
    flex-direction: column;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
}

.li_for_all_comments{
    padding: 12px 0;
    overflow: visible;
    width: auto;
    margin-right: -2px;
    margin-top: -5px;
    position: relative;
    word-wrap: break-word;
}

.div_for_comments_outer{
    align-items: center;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.div_for_comments_middle{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    width: calc(100% - 28px);
}

.div_for_comments_inner span{
    cursor: pointer;
}

.div_for_comments_inner img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
    display: block;
}

.other_user_comments_writer_and_contents{
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    flex-direction: column;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.other_user_comments_writer_and_contents h3{
    align-items: center;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.div_for_user_comments_writer_outer{
    margin-right: 4px;
    flex: 0 0 auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
    font-size: 13px;
    font-weight: 600;
}

.div_for_user_comments_writer_outer div, .other_user_comments_contents{
    display: inline;
}

.div_for_user_comments_writer_outer a {
    background-color: transparent;
    text-decoration: none;
    position: relative;
    -webkit-user-select: auto;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 7px 16px!important;
    pointer-events: auto;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    width: auto;
    margin: 0;
    outline: none;
    color: black;
}

.other_user_comments_contents span{
    display: inline!important;
    margin: 0!important;
    font-weight: 400;
}


.comments_regDate_and_delete_comments_btn{
    margin-top: 4px;
    margin-bottom: 4px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.div_for_comments_regDate{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 -3px;
}

.div_for_comments_regDate label{
    text-decoration: none;
    display: inline;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    color: rgb(142, 142, 142);
}

.comments_regDate_and_delete_comments_btn button{
    color: rgb(142, 142, 142);
    background: no-repeat;
    border: none;
    cursor: pointer;
    display: inline;
    margin-left: 12px!important;
    padding: 0;
    position: relative;
    line-height: 18px;
}

.div_for_delete_comments_btn{
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}




.div_for_regDate{
    padding-left: 16px;
    order: 5;
    margin-bottom: 16px;
}

.div_15{
    flex: 0 0 auto;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.div_16{
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}


.div_16 a{
    text-decoration: none;
    display: inline;
    padding: 0;
    background-color: transparent;
    touch-action: manipulation;
    list-style: none;
    margin: 0;
    text-align: inherit;
}

.section_for_comments_register{
    border-top: 1px solid #c7c7c7;
    color: rgb(var(--ig-secondary-text));
    flex-shrink: 0;
    font-size: var(--system-14-font-size);
    justify-content: center;
    line-height: var(--system-14-line-height);
    position: relative;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    order: 6;
    flex-grow: 0;
    min-height: 0;
}

.div_for_comments_register{
    border: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    align-items: center;
}

#comments{
    height: 18px !important;
    border: none;
    background-color: white;
    resize: none;
    width: 0;
    max-height: 80px;
    padding: 0;
    display: flex;
    flex-grow: 1;
    outline: none;
    max-width: 100%;
    font-size: 16px;
}

.section_for_comments_register button, #postModify_btn {
    font-weight: 600;
    display: inline;
    border: none;
    text-overflow: ellipsis;
    padding: 0;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
    min-width: 0;
    margin: 0;
    color: #4d90fe;
    user-select: none;
    text-align: center;
    font-size: .875rem;
}


























#modal_for_post_edit .content {
    position: relative;
    margin-top: 10px;
    padding: 0;
    flex-direction: column;
    flex-shrink: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 10px;
    align-items: stretch;
    display: flex;
}

#modal_for_post_edit .modal-window {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    border-radius: 10px;
    border: 0;
    width: 400px;
    height: fit-content;
    position: relative;
    justify-content: center;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#modal_for_post_edit .content{
    margin: 0;
}

#delete_post-btn{
    color: red;
}

#delete_post-btn, #modify_post-btn, #cancel-btn3{
    background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #99999985;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    -webkit-user-select: none;
    vertical-align: middle;
 }