
.side_menu{
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid #c7c7c796;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    overflow: auto;
    position: fixed;
}

.side_dock_logo{
padding-top:15px;
width: 200px;
}

.side_docks a{
padding-top:20px;
}

.side_menu span{
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.side_menu i{
padding-right: 15px;
font-size: 1.5rem;
}

.side_menu a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
}

#post-btn-modal{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    margin: 6px;
}

.side_menu li a.home {
  background : #3330;
  color: #fff;
}

.side_docks li{
margin: 10px
}

.side_dock_logo li a img{
  height: 45px;
  width: 120px;
}

.side_menu_profile a img{
width: 30px;
height: 30px;
}
