/*모든요소의 기본 마진 패딩, 사이징 초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/*페이지의 중앙을 잡아줄 컨테이너*/
.container {
  width: 100%;
  min-height: 100%;
}

/*메인태그 기본정의*/
.editMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

/*모든 버튼은 포인터*/
button {
  cursor: pointer;
}


.sideSection {
    margin: 30px auto 0;
    max-width: 935px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: stretch;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}

.side_bar{
    background-color: white;
    height: -webkit-fill-available;
    width: 200px;
    position: relative;
}

.side_bar ul{
    display: flex;
    flex-basis: 236px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding-top: 30px;
}

.side_bar li{
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.a_edit_profile:hover {
    border-left: 2px solid black;
    box-shadow: 0 0 40px 40px #c7c7c7 inset;
}

.a_edit_password:hover{
    border-left: 2px solid black;
    box-shadow: 0 0 40px 40px #eee inset;
}

.side_bar a{
    display: flex;
    height: 45px;
    color: black;
    background-color: transparent;
    line-height: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-bottom-style: solid;
    touch-action: manipulation;
    text-decoration: none;
    flex-direction: column;
    outline-style: none;
    align-items: stretch;
    text-align: inherit;
    justify-content: center;
    position: relative;
}

.side_bar_ul div{
padding-left: 20px;
}



/*article 컨테이너*/
.edit_article_container {
    align-items: stretch;
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    margin: 0;
    min-width: 50px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    border-left: 1px solid #c7c7c7;
    background-color: white;
}

.div_frame{
    padding-bottom: 32px;
    padding-left: 65px;
    padding-right: 32px;
}

.div_frame h1{
    border: 0;
    font: inherit;
    font-size: 24px;
    font-weight: normal;
    line-height: 38px;
    margin: 32px 0;
    padding: 0;
    vertical-align: baseline;
}


.div_frame p{
    line-height: 20px;
    margin-bottom: 15px;
}

.span_hi{
    border: 0;
    font: inherit;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.p_explanation{
    border: 0;
    border-bottom: 1px solid #c7c7c7;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    vertical-align: baseline;
}

.check_pw_form{
    align-items: stretch;
    border: 0;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    vertical-align: baseline;
}

.div_aside_frame{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    font: inherit;
    font-size: 100%;
}

.aside_for_label {
    padding-right: 32px;
    text-align: right;
    box-sizing: border-box;
    color: rgb(var(--ig-primary-text));
    flex: 0 0 226px;
    line-height: 18px;
}

.aside_for_label label{
    font-size: 16px;
    font-weight: 600;
    vertical-align: baseline;
}

.div_for_pw_input{
    flex-basis: 355px;
    flex-direction: row;
    padding-right: 60px;
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    color: rgb(var(--ig-primary-text));
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 16px;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    vertical-align: baseline;
}

.div_for_pw_input_inner{
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    position: static;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


._aaie{
    background: transparent;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 4px 12px;
    outline: none!important;
}

.div_for_space{
    align-items: stretch;
    border: 0;
    border-bottom: 1px solid #c7c7c7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    padding-top: 16px;
    position: relative;
    vertical-align: baseline;
}

.div_for_secession_btn{
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 18px 0;
    position: relative;
    vertical-align: baseline;
}

.div_for_secession_btn button{
    background-color: #0095f6;
    color: white;
    opacity: .7;
    border: none;
    border-radius: 8px;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bolder;
    padding: 7px 16px!important;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
    line-height: 18px;
}


















.side_menu{
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid #c7c7c796;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    overflow: auto;
    position: fixed;
}

.side_dock_logo{
padding-top:15px;
width: 200px;
}

.side_docks a{
padding-top:20px;
}

.side_menu span{
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.side_menu i{
padding-right: 15px;
font-size: 1.5rem;
}

.side_menu a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
}

#post-btn-modal{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    margin: 6px;
}

.side_menu li a.home {
  background : #3330;
  color: #fff;
}

.side_docks li{
margin: 10px
}

.side_dock_logo li a img{
  height: 45px;
  width: 120px;
}

.side_menu_profile a img{
width: 30px;
height: 30px;
}









.div_name,
.div_id,
.div_bio,
.div_email {
  position: relative;
  width: 270px;
  flex-direction: row;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
}

.aside_name, .aside_id, .aside_bio, .aside_email{
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
    flex: 0 0 150px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;
}

.edit__input label{
    vertical-align: baseline;
}

.div_name input,
.div_id input,
.div_bio input,
.div_email input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
}

.explanation_outer{
    width: 100%;
    max-width: 355px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    position: relative;
    font-size: 12px;
}

.explanation_inner{
    text-align: start;
    display: block;
    font-weight: lighter;
    color: #aaa;
    margin: -2px 0 -3px;
}


.bottom_part{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.btn_part_of_form_outer{
    flex-basis: 355px;
    flex-direction: row;
    padding-right: 60px;
    align-items: stretch;
    border: 0;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;
    vertical-align: baseline;
}

.btn_part_of_form{
    align-items: center;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 16px;
    position: relative;
    vertical-align: baseline;
}


.submit_btn{
    border: none;
    border-radius: 8px;
    position: relative;
    text-align: center;
    background: none;
    background-color: #0095f6;
    cursor: pointer;
    display: block;
    padding: 7px 16px;
    pointer-events: auto;
    text-overflow: ellipsis;
    width: 70px;
    color: #fff;
    font-weight: 700;
}

.delete_member{
    margin-left: 235px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 4px;
    position: relative;
    vertical-align: baseline;
}


.delete_member_btn{
    width: 100%;
    border: 0;
    color: #0095f6;
    display: inline-block;
    position: relative;
    text-align: center;
    background: none;
    cursor: pointer;
    font-weight: bolder;
    pointer-events: auto;
    text-overflow: ellipsis;
    -webkit-user-select: none;
}
