<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>memberList</title>
</head>
<body>
<div class="container">
    <div>

        <table>
            <thead> <tr>
                <th>#</th>
                <th>아이디</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.user_no}"></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>