<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://kit.fontawesome.com/8437d7db58.js" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/postDetail.css}">

</head>
<body>
<div id="modal_for_post_detail" class="modal-overlay">

    <div class="modal-window">
        <div class="div_for_pic_and_detail">
            <div class="div_for_pic">
                <div class="img_outer">

                    <img th:src="@{/post/display(postName=${post.postImgName})}" id="img_for_modal"/>
                </div>
            </div>
            <div class="div_for_detail">
                <div class="detail_outer">
                    <div class="user_name_bar">
                        <div class="divide_bar">
                            <header class="header_11">
                                <div class="div_for_user_profile_picture">
                                    <div>
                                        <div>
                                            <div class="img_outer_div">
                                                <img id="postDetailUserProfilePic" th:src="@{/user/display(id=${post.user_id})}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div_for_user_name">
                                    <div class="div_11">
                                        <div class="div_12">
                                            <div class="div_13">
                                                <a>
                                                    <label id="postDetailUserId">
                                                        [[${post.user_id}]]
                                                    </label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </header>
                            <div class="div_for_three_dot_btn">
                                <button id="postEdit_btn" th:hidden="${hiddenThreeDotBtn}">
                                    <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
                                </button>

                                <button id="postModify_btn" style="display: none;">
                                    수정
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="user_contents_space">

                        <div class="section_for_btn">
                            <span>
                                <a href="javascript:void(0);" onclick="unlikeFunction(this.name);"
                                   th:name="${post.post_no}" th:hidden="${likeBtn}">
                                    <i class="fa-sharp fa-solid fa-heart icon-react"></i>
                                </a>
                            </span>
                            <span>
                                <a href="javascript:void(0);" onclick="likeFunction(this.name);"
                                   th:name="${post.post_no}" th:hidden="${unlikeBtn}">
                                    <img class="icon-react"
                                         src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                                </a>
                            </span>
                            <span>
                                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
                            </span>
                            <span>
                                <img class="icon-react" src="/images/dm.png" alt="DM">
                            </span>

                        </div>
                        <section class="section_for_liked_people">
                            <div>
                            </div>
                        </section>

                        <div class="div_for_contents_and_tags">
                            <ul>
                                <div class="div_14">
                                    <div class="contents_div">
                                        <div class="contents_div_inner">
                                            <div class="contents_profile_pic_div">
                                                <a href="javascript:void(0);" onclick="parentMoveTo(this.name);" th:name="${post.user_id}">
                                                    <img th:src="@{/user/display(id=${post.user_id})}"/>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="div_for_writer_name">
                                            <h2>
                                                <div class="div_for_writer_name_inner">
                                                    <a href="javascript:void(0);" onclick="parentMoveTo(this.name);" th:name="${post.user_id}">
                                                        <label>[[${post.user_id}]]</label>
                                                    </a>
                                                </div>
                                            </h2>
                                            <div class="div_for_contents">
                                                <h1>
                                                    <form id="update_contents_form" action="/post/update" method="post">
                                                        <input type="hidden" id="postNo" name="postNo" th:value="${post.post_no}">
                                                        <textarea id="postDetailContents" name="postContents" readonly>[[${post.contents}]]</textarea>
                                                    </form>
                                                </h1>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="div_for_all_comments" th:each="comment: ${comments}">
                                    <li class="li_for_all_comments">
                                        <div class="div_for_comments_outer">
                                            <div class="div_for_comments_middle">
                                                <div class="div_for_comments_inner">
                                                    <div>
                                                        <span>
                                                            <a href="javascript:void(0);" onclick="parentMoveTo(this.name);" th:name="${comment.user_id}">
                                                                <img th:src="@{/user/display(id=${comment.user_id})}"/>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="other_user_comments_writer_and_contents">
                                                    <h3>
                                                        <div class="div_for_user_comments_writer_outer">
                                                            <div>
                                                                <div>
                                                                    <a href="javascript:void(0);" onclick="parentMoveTo(this.name);" th:name="${comment.user_id}">
                                                                        <td th:text="${comment.user_id}"></td>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h3>
                                                    <div class="other_user_comments_contents">
                                                        <span>
                                                            <td th:text="${comment.comments_contents}"></td>
                                                        </span>
                                                    </div>
                                                    <div class="comments_regDate_and_delete_comments_btn">
                                                        <div class="div_for_comments_regDate">
                                                            <label>
                                                                <td th:text="${comment.comments_regDate}"></td>
                                                            </label>
                                                            <button th:onclick="deleteComments(this.name)" th:name="${comment.comments_no}">
                                                                <div class="div_for_delete_comments_btn">
                                                                    댓글 삭제
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                            </ul>
                        </div>

                        <div class="div_for_regDate">
                            <div class="div_15">
                                <div class="div_16">
                                    <a>
                                        <label id="postDetailRegdate">
                                            [[${post.post_regDate}]]
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <section class="section_for_comments_register">
                            <div>
                                <div class="div_for_comments_register">
                                    <input type="hidden" id="postNoForComments" name="post_no" th:value="${post.post_no}">
                                    <textarea id="comments" name="comments_contents" placeholder="댓글 달기..."></textarea>
                                    <div>
                                        <button th:onclick="registerComments()">게시</button>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- 게시글 3점 버튼 모달 -->
<div id="modal_for_post_edit" class="modal-overlay" style="display:none;">
    <div class="modal-window">
        <div class="content">
            <button id="delete_post-btn">
                삭제
            </button>
            <button id="modify_post-btn">
                수정
            </button>
            <button id="cancel-btn3">
                취소
            </button>
        </div>
    </div>
</div>

<script>
const modal5 = document.getElementById("modal_for_post_edit");
const three_dot_btn = document.getElementById("postEdit_btn");
const closeBtn3 = document.getElementById("cancel-btn3");
const deleteBtn = document.getElementById("delete_post-btn");
const modifyBtn = document.getElementById("modify_post-btn");
const postModify_btn = document.getElementById("postModify_btn");

const postNumber = document.getElementById("postNo");

<!-- 게시글 3점 모달 -->


function modal5On() {
    modal5.style.display = "flex"
    document.body.style.overflow = 'hidden';
}

function isModal5On() {
    return modal5.style.display === "flex";
}

function modal5Off() {
    modal5.style.display = "none";
    document.body.style.overflow = 'unset';

}

three_dot_btn.addEventListener("click", e => {
    modal5On();
})

closeBtn3.addEventListener("click", e => {
    modal5Off();
})

modal5.addEventListener("click", e => {
    const evTarget = e.target;
    if(evTarget.classList.contains("modal-overlay")) {
        modal5Off();
    }
})

deleteBtn.addEventListener("click", e => {
    $.ajax({
        url:'/post/delete',
        type:'post',
        data: {postNo:postNumber.value},
        success:function(result){
            console.log(result);

            window.parent.location.reload(); // 부모창 새로고침
            }


        });
    })

modifyBtn.addEventListener("click", e => {
    three_dot_btn.style.display = "none";
    postModify_btn.style.display = "flex";
    postDetailContents.readOnly = false;
    postDetailContents.focus();

    modal5Off();
})

postModify_btn.addEventListener("click", e => {
    document.getElementById("update_contents_form").submit();
})




function registerComments(){
    const data = {
        comments_contents: $('#comments').val(),
        post_no: $('#postNoForComments').val()
    };

    $.ajax({
        type: 'POST',
        url: '/comments/register',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function(result){
        if(result){
            alert("댓글 등록이 완료되었습니다.");

            $(".div_for_contents_and_tags").load(location.href + " .div_for_contents_and_tags");
        } else{
            alert("오류 발생. 다시 입력해주세요.");
            $('#comments').focus();
        }
    }).fail(function(error){
        alert(JSON.stringify(error));
    });
}

function parentMoveTo(user_id){
    window.parent.location = "/profile?id="+user_id;
}


function deleteComments(comments_no){
    $.ajax({
        type: 'POST',
        url: '/comments/delete',
        data: {comments_no: comments_no}
    }).done(function(result){
        if(result){
            alert("댓글 삭제가 완료되었습니다.");
            console.log(result);

            $(".div_for_contents_and_tags").load(location.href + " .div_for_contents_and_tags");
        } else{
            alert("오류 발생. 다시 입력해주세요.");
            $('#comments').focus();
        }
    }).fail(function(error){
        alert(JSON.stringify(error));
    });
}

<!-- 좋아요 함수 -->
function likeFunction(postNo){
        $.ajax({
            type: 'POST',
            url: '/like/register',
            data: {post_no : postNo}
        }).done(function(result){
            if(result){
                console.log(result)

                alert("좋아요 등록이 완료되었습니다.");
                $(".section_for_btn").load(location.href + " .section_for_btn");
            } else{
                alert("오류 발생. 다시 입력해주세요.");

            }


        }).fail(function(error){

            alert(JSON.stringify(error));
        });


}


<!-- 좋아요 취소 함수 -->
function unlikeFunction(postNo){
        $.ajax({
            type: 'POST',
            url: '/like/cancel',
            data: {post_no : postNo}
        }).done(function(result){
            if(result){
                console.log(result)

                 alert("좋아요 취소가 완료되었습니다.");
                $(".section_for_btn").load(location.href + " .section_for_btn");
            } else{
                alert("오류 발생. 다시 입력해주세요.");

            }

        }).fail(function(error){

            alert(JSON.stringify(error));
        });

}
</script>

</body>
</html>