<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://kit.fontawesome.com/8437d7db58.js" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profileEdit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sideMenu.css}">
</head>
<body>
<!-- side menu -->
<div class="side_menu" th:replace="~{/fragment/sideMenu :: sideMenuFragment}">
</div>
<div class="container">
    <main class="editMain">
        <section class="sideSection">
            <div class="side_bar">
                <ul class="side_bar_ul">
                    <li>
                        <a href="#" class="a_edit_profile">
                            <div>프로필 편집</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="a_edit_password">
                            <div>비밀번호 변경</div>
                        </a>
                    </li>
                </ul>
            </div>

            <article class="edit_article_container">

                <div class="edit_div">
                    <!--인풋-->
                    <div class="edit__input">

                        <div class="div_name">
                            <aside class="aside_name">
                                <label class="label_name">이름</label>
                            </aside>
                            <div class="div_input_outer">
                                <div class="div_input_inner">
                                    <input type="text" th:id="name" th:name="name" placeholder="이름" th:value="${loginUser.name}"/>
                                    <div class="explanation_outer">
                                        <div class="explanation_inner">
                                            사람들이 이름, 별명 또는 비즈니스 이름 등 회원님의 알려진 이름을 사용하여 회원님의 계정을 찾을 수 있도록 도와주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div_id">
                            <aside class="aside_id">
                                <label class="label_name">사용자 이름</label>
                            </aside>
                            <div class="div_input_outer">
                                <div class="div_input_inner">
                                    <input type="text" th:id="id" th:name="id" placeholder="사용자 이름" th:value="${loginUser.id}"/>
                                    <div class="explanation_outer">
                                        <div class="explanation_inner">
                                            대부분의 경우 이후 14일 동안 사용자 이름을 다시<td th:text="${loginUser.id}"></td>(으)로 변경할 수 있습니다.
                                        </div>
                                        <div id="exist_id_msg" class="explanation_inner" style="display:none;">
                                            사용 중인 사용자 이름입니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- 프로필 수정 버튼 여기서도 가능하게 하기. side_bar 버튼 호리즌 적용해보기, 서버 쪽 프로그램 작성하기.-->
                        <div class="div_bio">
                            <aside class="aside_bio">
                                <label class="label_name">소개</label>
                            </aside>
                            <div class="div_input_outer">
                                <div class="div_input_inner_for_bio">
                                    <textarea th:id="bio" th:name="bio" placeholder="소개" th:text="${loginUser.bio}">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="div_email">
                            <aside class="aside_email">
                                <label class="label_name">이메일</label>
                            </aside>
                            <div class="div_input_outer">
                                <div class="div_input_inner">
                                    <input type="text" th:id="email" th:name="email" placeholder="email" th:value="${loginUser.email}"/>
                                    <div class="explanation_outer">
                                        <div id="exist_email_msg" class="explanation_inner" style="display:none;">
                                            사용 중인 이메일 입니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bottom_part">

                            <aside class="aside_bio">
                                <label class="label_name"></label>
                            </aside>

                            <div class="btn_part_of_form_outer">

                                <div class="btn_part_of_form">

                                    <button class="submit_btn" th:onclick="updateProfileAjax()">제출</button>

                                    <div class="delete_member">
                                        <button class="delete_member_btn" th:onclick="location.href='/user/secession'">회원 탈퇴</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </article>
        </section>
    </main>
</div>
</body>
<script>
    //ajax 함수
     function updateProfileAjax(){
          const data = {
            name: $('#name').val(),
            id: $('#id').val(),
            bio: $('#bio').val(),
            email: $('#email').val()
         };
        $.ajax({
            url: '/user/update',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
            }).done(function(result){
                console.log("ajax result : " + result);

                if(result === "idFail"){
                    $('#exist_id_msg').css("display", "inline-block");

                } else if(result === "emailFail"){
                    $('#exist_email_msg').css("display", "inline-block");

                } else if(result === "updateSuccessful") {
                    alert("로그인 성공");
                    window.location.href="/";
                } else if(result === "fail"){
                    $('#exist_id_msg').css("display", "inline-block");
                    $('#exist_email_msg').css("display", "inline-block");

                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            });
};
</script>
</html>