<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/8437d7db58.js" crossorigin="anonymous"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <main class="loginMain">
        <!--회원가입섹션-->
        <section class="login">
            <article class="login__form__container">

                <!--회원가입 폼-->
                <div class="login__form">
                    <!--로고-->
                    <h1><img src="/images/stagram.jpg" alt=""></h1>
                    <!--로고end-->

                    <!--회원가입 인풋-->
                    <form class="login__input"  action="/user/signup" method="post">
                        <div class="div_email">
                            <input type="email" id="email" name="email" placeholder="이메일 주소" required="required" oninput = "checkId()"/>
                            <span class="email_ok" style="display: none;"><i class="fa-solid fa-check"></i></span>
                            <span class="email_already" style="display: none;"><i class="fa-solid fa-x"></i></span>
                        </div>
                        <input type="text" id="name" name="name" placeholder="성명" required="required" />
                        <input type="text" id="id" name="id" placeholder="사용자 이름" required="required"  maxlength="30"/>
                        <input type="password" id="password" name="password" placeholder="비밀번호" required="required" />
                        <button>가입</button>
                    </form>
                    <!--회원가입 인풋end-->
                </div>
                <!--회원가입 폼end-->

                <!--계정이 있으신가요?-->
                <div class="login__register">
                    <span>계정이 있으신가요?</span>
                    <a href="/auth/signin">로그인</a>
                </div>
                <!--계정이 있으신가요?end-->

            </article>
        </section>
    </main>
</div>
<script>
    function checkId(){
        var email = $('#email').val(); //id값이 "id"인 입력란의 값을 저장
        $.ajax({
            url:'/emailCheck', //Controller에서 요청 받을 주소
            type:'post', //POST 방식으로 전달
            data:{email:email},
            success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(cnt == 0){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디
                    $('.email_ok').css("display","inline-block");
                    $('.email_already').css("display", "none");
                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    $('.email_already').css("display","inline-block");
                    $('.email_ok').css("display", "none");
                    alert("아이디를 다시 입력해주세요");
                    $('#id').val('');
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
        };
</script>
</body>

</html>