<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <main class="loginMain">
        <!--로그인섹션-->
        <section class="login">
            <!--로그인박스-->
            <article class="login__form__container">
                <!--로그인 폼-->
                <div class="login__form">
                    <h1><a href="/"><img src="/images/stagram.jpg" alt="stagram"></a></h1>

                    <!--로그인 인풋-->
                    <div class="login__input">
                        <input type="text" th:id="idOrEmail" th:name="idOrEmail" placeholder="사용자 이름 또는 이메일" required="required" th:onkeyup = "stateHandle()"/>
                        <input type="password" th:id="pw" th:name="pw" placeholder="비밀번호" required="required" th:onkeyup = "stateHandle2()"/>
                        <button class="login_btn" th:onclick="login()">로그인</button>
                    </div>
                    <!--로그인 인풋end-->

                    <!-- 또는 -->
                    <div class="login__horizon">
                        <div class="br"></div>
                        <div class="or">또는</div>
                        <div class="br"></div>
                    </div>
                    <!-- 또는end -->

                    <!-- Oauth 소셜로그인 -->
                    <div class="login__facebook">
                        <button th:onclick="javascript:location.href=''">
                            <i class="fab fa-facebook-square"></i>
                            <span>Facebook으로 로그인</span>
                        </button>
                    </div>
                    <!-- Oauth 소셜로그인end -->
                    <span class="wrong_pw" style="display: none;"><label>잘못된 비밀번호입니다. 다시 확인하세요.</label></i></span>

                </div>

                <!--계정이 없으신가요?-->
                <div class="login__register">
                    <span>계정이 없으신가요?</span>
                    <a href="/user/signup">가입하기</a>
                </div>
                <!--계정이 없으신가요?end-->
            </article>
        </section>
    </main>

</div>
<script>
    let input_idOrEmail = false;
    let input_password = false;

    let button = document.querySelector(".login_btn");
    button.disabled = true;

    function btnControl(){
        if(input_idOrEmail && input_password){//모든 항목의 입력 값이 유효하다면
            button.disabled = false;
            $('.login_btn').css("background-color", "#0095f6");
            $('.login_btn').css("cursor", "pointer");
        }
        else{
            button.disabled = true;
            $('.login_btn').css("background-color", "#accbdf");
            $('.login_btn').css("cursor", "default");
        }
    }

//idOrEmail 인풋박스에 데이터가 들어오면,
    function stateHandle() {
    var idOrEmailValue = document.querySelector("#idOrEmail").value;
         if (idOrEmailValue === "") {
           input_idOrEmail = false;
           btnControl();
         } else if(idOrEmailValue.length > 2){
           input_idOrEmail = true;
           btnControl();
         } else{
            input_idOrEmail = false;
            btnControl();
         }
    }

//password 인풋 박스에 데이터가 들어오면,
     function stateHandle2() {
     var passwordValue = document.querySelector("#pw").value;
          if (passwordValue === "") {
            input_password = false;
            btnControl();
          } else if(passwordValue.length > 5){
            input_password = true;
            btnControl();
          } else{
            input_password = false;
            btnControl();
          }
     }



     //login ajax 함수
     function login(){
         const data = {
            idOrEmail: $('#idOrEmail').val(),
            pw: $('#pw').val()
         };
        $.ajax({
            url: '/user/signin',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
            }).done(function(result){
                console.log("ajax result : " + result);

                if(result === "idOrEmailFail"){
                    $('.wrong_pw').css("display", "inline-block");

                } else if(result === "passwordFail"){
                    $('.wrong_pw').css("display", "inline-block");

                } else if(result === "loginSuccess") {
                    alert("로그인 성공");
                    window.location.href="/";
                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            });
        }; //$.ajax



</script>
</body>

</html>