<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<script src="https://kit.fontawesome.com/8437d7db58.js" crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <link rel="instagram-icon" href="img/favicon.png">
</head>
<body>
<!-- navigation -->
<nav>
    <div class="nav-container">
<!--        <div class="nav-1">-->
<!--            <a class="home" href="/"><img src="/images/stagram.jpg" alt="stagram"></a>-->
<!--        </div>-->
        <input id="searchInput" type="search" class="input-search" placeholder="검색">
        <div class="nav-2">
            <a href="/">
                <i class="fa-solid fa-house"></i>
            </a>
            <a href="#">
                <img src="images/dm.png" alt="DM">
            </a>
            <a href="#" style="padding-left: 20px;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="#">
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
            </a>
            <a th:href="@{/profile(id = ${loginUser.id})}">
                <img class="pic" th:src="display" alt="마이페이지">
            </a>
        </div>
    </div>
</nav>


<div class="side_menu">
    <ul>
        <div class="side_dock_logo">
            <li><a class="home" href="/"><img src="/images/stagram.jpg" alt="stagram"></a></li>
        </div>
        <div class="side_docks">
            <li>
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    홈
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    검색
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                    알림
                </a>
            </li>
            <li>
                <button id="post-btn-modal">
                    <i class="fa-regular fa-square-plus"></i>
                    만들기
                </button>
            </li>

            <li>
                <div class="side_menu_profile">
                    <a th:href="@{/profile(id = ${loginUser.id})}">
                        <img class="pic" th:src="display" alt="마이페이지">
                        프로필
                    </a>
                </div>

            </li>
        </div>
    </ul>
</div>

<!-- main -->
<main>
    <div class="feeds">
        <!-- article -->
        <article>
            <header>
                <div class="profile-of-article">
                    <img class="img-profile pic" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/28434316_190831908314778_1954023563480530944_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=srwTEwYMC28AX8gftqw&oh=98c7bf39e441e622c9723ae487cd26a0&oe=5F68C630" alt="dlwlrma님의 프로필 사진">
                    <span class="userID main-id point-span">dlwlrma</span>
                </div>
                <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
            </header>
            <div class="main-image">
                <img src="images/sample.jpg" alt="dlwlrma님의 피드 사진" class="mainPic">
            </div>
            <div class="icons-react">
                <div class="icons-left">
                    <a href="#">
                        <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                    </a>
                    <a href="#">
                        <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
                    </a>
                    <a href="#">
                        <img class="icon-react" src="images/dm.png" alt="DM">
                    </a>
                </div>
                <a href="#">
                    <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png" alt="북마크">
                </a>
            </div>
            <!-- article text data -->
            <div class="reaction">
                <div class="liked-people">
                    <img class="pic" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s150x150/89296253_1521373131359783_504744616755462144_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=_9raiaB11CAAX_u7RhK&oh=c162d17b1570f31f94a1a28e19167609&oe=5F6C7A90" alt="johnnyjsuh님의 프로필 사진">
                    <p><span class="point-span">johnnyjsuh</span>님 <span class="point-span">외 2,412,751명</span>이 좋아합니다</p>
                </div>
                <div class="description">
                    <p><span class="point-span userID">dlwlrma</span><span class="at-tag">@wkorea @gucci</span> 🌱</p>
                </div>
                <div class="comment-section">
                    <ul class="comments">
                        <li>
                            <span><span class="point-span userID">postmalone</span>내가 입으면 더 잘어울릴 것 같아</span>
                            <img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                        </li>
                        <!-- input 값 여기에 추가 -->
                    </ul>
                    <div class="time-log">
                        <span>32분 전</span>
                    </div>
                </div>
            </div>
            <div class="hl"></div>
            <div class="comment">
                <input id="input-comment" class="input-comment" type="text" placeholder="댓글 달기..." >
                <button type="submit" class="submit-comment" disabled>게시</button>
            </div>
        </article>
        <article>
            <header>
                <div class="profile-of-article">
                    <img class="img-profile pic" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s150x150/71022783_513111249480681_2188078115513696256_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=7Rl_bMO8TN4AX9C-AKS&oh=64741fc0f2635ebb63f94d5285798e08&oe=5F6A0524" alt="thisisyourhyung님의 프로필 사진">
                    <span class="userID main-id point-span">thisisyourhyung</span>
                </div>
                <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
            </header>
            <div class="main-image">
                <img src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/79434917_534650640475337_2021528862608628648_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=o9KdUxfdCisAX8rVvat&oh=bf1dab8ef73aca5ca6ad22b637d9b670&oe=5F6D5ABB" alt="thisisyourhyung님의 피드 사진" class="mainPic">
            </div>
            <div class="icons-react">
                <div class="icons-left">
                    <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                    <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
                    <img class="icon-react" src="images/dm.png" alt="DM">
                </div>
                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png" alt="북마크">
            </div>
            <!-- article text data -->
            <div class="reaction">
                <div class="liked-people">
                    <img class="pic" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/88655311_532875984007590_3393720833305214976_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=QsdbsVQx8IsAX9_Fftk&oh=a6515b76d63f7ca3609c211624c1cd60&oe=5F6A4263" alt="_jeongjaehyun님의 프로필 사진">
                    <p><span class="point-span">_jeongjaehyun</span>님 <span class="point-span">외 4,612,203명</span>이 좋아합니다</p>
                </div>
                <div class="description">
                    <p><span class="point-span userID">thisisyourhyung</span>코로나 언제 사라지나 ㅠㅠ 여행 가고 싶다~~</p>
                </div>
                <div class="comment-section">
                    <ul class="comments">
                        <li>
                            <span><span class="point-span userID">williamhammington</span>나도 호주 가고 싶다!</span>
                            <img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                        </li>
                        <!-- input 값 여기에 추가 -->
                    </ul>
                    <div class="time-log">
                        <span>1시간 전</span>
                    </div>
                </div>
            </div>
            <div class="hl"></div>
            <div class="comment">
                <input id="input-comment2" class="input-comment" type="text" placeholder="댓글 달기..." >
                <button type="submit" class="submit-comment" disabled>게시</button>
            </div>
        </article>

    </div>
    <!-- main-right -->
    <div class="main-right">
        <div class="myProfile">
            <a th:href="@{/profile(id = ${loginUser.id})}">
                <img class="pic" th:src="display" alt="${loginUser.name} 프로필 사진">
            </a>
            <div>
                <a th:href="@{/profile(id = ${loginUser.id})}">
                    <span class="userID point-span">
                        <td th:text="${loginUser.id}">
                        </td>
                    </span>
                </a>

                <span class="sub-span">
                    <td th:text="${loginUser.name}">
                    </td>
                </span>
            </div>
        </div>
        <!-- story section -->
        <div class="section-story">
            <div class="menu-title">
                <span class="sub-title">스토리</span>
                <span class="find-more">모두 보기</span>
            </div>
            <ul class="story-list">
                <li>
                    <div class="gradient-wrap">
                        <img class="img-profile story" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/64219646_866712363683753_7365878438877462528_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=nBT2Cnh5x6kAX9FNW46&oh=63c4eae00baaeef86eedc8ca79499511&oe=5F6B31A0" alt="wecode_bootcamp님의 프로필 사진">
                    </div>
                    <div class="profile-text">
                        <span class="userID point-span">wecode_bootcamp</span>
                        <span class="sub-span">12분 전</span>
                    </div>
                </li>
                <li>
                    <div class="gradient-wrap">
                        <img class="img-profile story" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/47581322_331313240788424_7580673034705436672_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=fkWaVb4rpLMAX_mkCR5&oh=822f6068b6e28481ccd3fd7820061df1&oe=5F6A82C6" alt="han_ye_seul님의 프로필 사진">
                    </div>
                    <div class="profile-text">
                        <span class="userID point-span">han_ye_seul</span>
                        <span class="sub-span">28분 전</span>
                    </div>
                </li>
                <li>
                    <div class="gradient-wrap">
                        <img class="img-profile story" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/83054317_174958120526515_9120446663184351232_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=tYlvJUCoTKEAX_gZZa2&oh=a65657b48898f84fd25762a9a51a70d7&oe=5F6A8C65" alt="dntlrdl님의 프로필 사진">
                    </div>
                    <div class="profile-text">
                        <span class="userID point-span">dntlrdl</span>
                        <span class="sub-span">40분 전</span>
                    </div>
                </li>
                <li>
                    <div class="gradient-wrap">
                        <img class="img-profile story" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/104003354_716384015830603_8920819290329712932_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=98qm88VYcqoAX_OFQ6W&oh=0000cab3adec26de3231e7dcfd4022b2&oe=5F6BC859" alt="i_icaruswalks님의 프로필 사진">
                    </div>
                    <div class="profile-text">
                        <span class="userID point-span">i_icaruswalks</span>
                        <span class="sub-span">56분 전</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- recommendation section -->
        <div class="section-recommend">
            <div class="menu-title">
                <span class="sub-title">회원님을 위한 추천</span>
                <span class="find-more">모두 보기</span>
            </div>
            <ul class="recommend-list">
                <li>
                    <div class="recommend-friend-profile">
                        <img class="img-profile" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/69067759_957976681207922_446652332218777600_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=pFcXhsPcINYAX-G9HiY&oh=4c1ac17f73340c512ae70d383c468b5a&oe=5F6A4AF8" alt="renebaebae님의 프로필 사진">
                        <div class="profile-text">
                            <span class="userID point-span">renebaebae</span>
                            <span class="sub-span">hi_sseulgi님 외 2명이 팔로우합니다</span>
                        </div>
                    </div>
                    <span class="btn-follow">팔로우</span>
                </li>
                <li>
                    <div class="recommend-friend-profile">
                        <img class="img-profile" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/88655311_532875984007590_3393720833305214976_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=QsdbsVQx8IsAX9_Fftk&oh=a6515b76d63f7ca3609c211624c1cd60&oe=5F6A4263" alt="_jeongjaehyun님의 프로필 사진">
                        <div class="profile-text">
                            <span class="userID point-span">_jeongjaehyun</span>
                            <span class="sub-span">johnnyjsuh님이 팔로우합니다</span>
                        </div>
                    </div>
                    <span class="btn-follow">팔로우</span>
                </li>
                <li>
                    <div class="recommend-friend-profile">
                        <img class="img-profile" src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s320x320/111281038_926213341219564_1940619922197712205_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=ITcRMERk0UYAX8KwJyW&oh=54d4847a6cb863301315313b83cf1551&oe=5F6BC0E9" alt="leehi_hi님의 프로필 사진">
                        <div class="profile-text">
                            <span class="userID point-span">leehi_hi</span>
                            <span class="sub-span">jennierubyjane님 외 5명이 팔로우합...</span>
                        </div>
                    </div>
                    <span class="btn-follow">팔로우</span>
                </li>
            </ul>
        </div>
        <footer>
            <p class="insta-sccript">
                소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
                <br><br>
                © 2020 INSTAGRAM FROM FACEBOOK
            </p>
        </footer>
    </div>
</main>

<!-- Modal Windows-->
<div id="modal_for_post" class="modal-overlay">
    <div class="modal-window">
        <div class="title">
            <h3>새 게시물 만들기</h3>
        </div>
        <div class="content">
            <div class="space">
                <button class="select-img-btn">
                    컴퓨터에서 선택
                </button>
            </div>

        </div>
        <form id="upload-profile-pic-form" action="/upload/profile" method="post" enctype="multipart/form-data">
            <input type="file" id="profileImg" name="profileImg" style="display:none;" onchange="changeValue(this)">
        </form>
    </div>
</div>
</body>
<script>
fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
    .then(response => response.text())
const modal = document.getElementById("modal_for_post")
function modalOn() {
    modal.style.display = "flex"
}
function isModalOn() {
    return modal.style.display === "flex"
}
function modalOff() {
    modal.style.display = "none"
}
const btnModal = document.getElementById("post-btn-modal")
btnModal.addEventListener("click", e => {
    modalOn()
})

modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modalOff()
    }
})
</script>
</html>