<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/8437d7db58.js" crossorigin="anonymous"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/timeline.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
<div class="side_menu">
    <ul>
        <div class="side_dock_logo">
            <li><a class="home" href="/"><img src="/images/stagram.jpg" alt="stagram"></a></li>
        </div>
        <div class="side_docks">
            <li>
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    홈
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    검색
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                    알림
                </a>
            </li>
        </div>
    </ul>
</div>


<div class="cd1">
    <div class="main_left">
        <section class="card_section">
            <div class="story">
                <ul>
                    <li>menu 1</li>
                    <li>menu 2</li>
                    <li>menu 3</li>
                    <li>menu 4</li>
                    <li>menu 5</li>
                </ul>
            </div>

            <div class="card">
                <header>
                    <img src="" alt="">
                    <div class="user_name">username</div>
                </header>
                <div class="card_image">
                    <img src="" alt="">
                </div>
                <div class="info">
                    <div class="info_left">
                        <i class="far fa-heart"></i>
                        <i class="far fa-comment"></i>
                        <i class="fas fa-upload"></i>
                    </div>
                    <div class="info_right">
                        <i class="far fa-bookmark"></i>
                    </div>
                </div>
                <div class="comment">
                    comment1<br>
                    comment2<br>
                </div>
                <div class="comment_form">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..">
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>


</body>
</html>